<main class="countries-wrapper">
    <div class="container">

        <div class="w-100 busqueda-covid-app mt-3 mb-2">
            <div class="container-busqueda">
                <form class="mb-lg-4 ">
                    <input autofocus="true" id="searched" type="text" placeholder="Search...">
                    <button id="btn-send" type="button"><i class="fa fa-search mr-4"></i>
                </form>
            </div>
        </div>
        <div class="w-100 text-center mb-3 text-white">
            <h5 class="title-pais ">{{region}}</h5>
            <p><small>{{fecha}} - <strong id="cantidad-countries">{{cantidad}} countries affected</strong></small> </p>
        </div>


        <div id="row-paises" class="row mt-4 mb-4">
        </div>

        <div class="w-100 mt-2 pb-4">
            <div class="pagination" id="pagination"></div>
        </div>

        <h6 class="title-pais text-center mb-3 mt-3"><small><strong>{{year}} - Luis Melgarejo. All rights reserved
                </strong></small></h6>


    </div>
</main>