<h6 class="title-pais text-center"><small><strong>© {{year}} - Luis Melgarejo. All rights reserved</strong></small></h6>
<ul class="social_icon">
    <li>
        <a href="https://www.facebook.com/luis.melgarejoalarcon" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/luis-alberto-melgarejo-alarc%C3%B3n-191370198/" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/lmelgarejo96/" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a href="https://github.com/lmelgarejo96" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i>
        </a>
    </li>
</ul>